<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>TwitWiki</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.0.beta.6.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="/public/css/base.css" />
	</head>
	<body>
		<div id="primary">
			<header>
			</header>
			
			<section>